In [32]:
import geopandas as gpd

In [33]:
tx_output_0 = gpd.read_file(r'transformers_location/gridmodel_tx_locations_0.gpkg')
tx_output_1 = gpd.read_file(r'transformers_location/gridmodel_tx_locations_1.gpkg')
tx_output_2 = gpd.read_file(r'transformers_location/gridmodel_tx_locations_2.gpkg')

In [39]:
tx_full = gpd.GeoDataFrame()
tx_full = tx_full.append(tx_output_0)
tx_full = tx_full.append(tx_output_1)
tx_full = tx_full.append(tx_output_2)
#print(tx_full.crs)
#tx_full.to_file('transformers_location/gridmodel_tx_locations_full.gpkg', driver="GPKG")

In [40]:
tx_full.crs

{}

In [41]:
tx_full.crs = {'init' :'epsg:32737'}
tx_full = tx_full.to_crs(epsg=4326)

In [42]:
tx_full.to_file('transformers_location/gridmodel_tx_locations_full.gpkg', driver="GPKG")

In [44]:
len(tx_full)
tx_full.head()

     id county        ward   sub_grid area_cate                   geometry
0   0.0  Kisii  MajogeBasi  subgrid_0    Non-NR  POINT (34.71022 -0.71689)
1   7.0  Kisii  MajogeBasi  subgrid_0    Non-NR  POINT (34.70491 -0.71671)
2   9.0  Kisii  MajogeBasi  subgrid_0    Non-NR  POINT (34.70513 -0.72213)
3  17.0  Kisii  MajogeBasi  subgrid_0    Non-NR  POINT (34.70876 -0.72627)
4   5.0  Kisii  MajogeBasi  subgrid_0    Non-NR  POINT (34.71143 -0.73181)

In [45]:
tx_full['area_cate']

False

In [50]:
wards_final = tx_full[['county','ward']].drop_duplicates()

In [51]:
len(wards_final)

1402

In [52]:
len(tx_full)

241733